# Verification

The process of confirming that something meets the
requirements for a [finding](../F/Finding.md). 
Verification is part of the process of producing
a finding.

## Examples

* Length/format checks
* Entropy checks
* Filtering known false positives
* Keyword checks
* Contextual analysis
